<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shihonghu.shi_blogs.mapper.VisitorMapper">

    <select id="hasUUID" resultType="java.lang.Integer">
        select ifnull((select 1 from visitor where uuid=#{uuid} limit 1), 0)
    </select>
</mapper>
